html {
  box-sizing: border-box;
}
img {
  height: auto;
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.gallery__js-btn {
  width: 80px;
  height: 40px;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.gallery div {
  width: 300px;
}

.stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
input,
button {
  display: block;
  margin: 0 auto;
}
.hidden {
  display: none;
}
